<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ubits.payflow.payflow_network">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"
        android:allowBackup="true"
        android:icon="@mipmap/on_track_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/on_track_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_ley" />

        <activity
            android:name=".General.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".General.SplashActivity"
            android:icon="@mipmap/on_track_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/on_track_logo"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Driver.Driverlogin" />
 <activity android:name=".Login.Login_Activity"
     android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".General.Register" />
        <activity
            android:name=".Payments.TransferFunds"
            android:label="@string/title_activity_transfer_funds"
            android:parentActivityName=".Payments.PaymentsMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Payments.PaymentsMain"
            android:label="@string/title_activity_payments_main"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Payments.DepositMoney"
            android:label="@string/title_activity_deposit_money"
            android:parentActivityName=".Payments.PaymentsMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.PaymentsMain" />
        </activity>
        <activity
            android:name=".Payments.SendMoney"
            android:label="@string/title_activity_send_money"
            android:parentActivityName=".Payments.PaymentsMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.PaymentsMain" />
        </activity>
        <activity
            android:name=".Payments.TopUpInfo"
            android:label="@string/title_activity_top_up_info"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".General.ForgotPassword"
            android:label="Forgot Password"
            android:parentActivityName=".General.Login"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.Login" />
        </activity>
        <activity
            android:name=".Airtime.BuyElectricityn"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Airtime.AirtimeStatement"
            android:label="@string/title_activity_airtime_statement"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Airtime.BuyBundle"
            android:label="Sell Bundle"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Payments.WithdrawMoney"
            android:label="@string/title_activity_withdraw_money"
            android:parentActivityName=".Payments.PaymentsMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Payments.ClientStatement"
            android:label="@string/title_activity_client_statement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Kits.BatchListn"
            android:label="@string/title_activity_batch_listn"
            android:parentActivityName=".Kits.MySimsn"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Kits.MySimsn" />
        </activity>
        <activity
            android:name=".Kits.IndividualSimn"
            android:parentActivityName=".Kits.MySimsn"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Kits.MySimsn" />
        </activity>
        <!-- android:label="@string/title_activity_individual_simn" -->
        <activity
            android:name=".Kits.MySimListn"
            android:label="@string/title_activity_my_sim_listn"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Payments.Cash"
            android:label="@string/title_activity_cash"
            android:parentActivityName=".Payments.PaymentsMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.PaymentsMain" />
        </activity>
        <activity
            android:name=".General.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Payments.CashWithdraw"
            android:label="@string/title_activity_cash_withdraw"
            android:parentActivityName=".Payments.Cash"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.Cash" />
        </activity>
        <activity
            android:name=".Kits.MySimsn"
            android:label="@string/title_activity_my_simsn"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Kits.SellaSim"
            android:label="@string/title_activity_sella_sim"
            android:parentActivityName=".Kits.MySimsn"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Kits.MySimsn" />
        </activity>
        <activity
            android:name=".Kits.Rican"
            android:label="@string/title_activity_rican"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Kits.ProcessBatchn"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_process_batchn"
            android:parentActivityName=".Kits.MySimsn"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Kits.MySimsn" />
        </activity>
        <activity
            android:name=".Kits.AoolcateBatchn"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_aoolcate_batchn"
            android:parentActivityName=".Kits.MySimsn"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Kits.MySimsn" />
        </activity>
        <activity
            android:name=".Airtime.SellAirtime"
            android:label="@string/title_activity_sell_airtime"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".General.TopUpInfon"
            android:label="@string/title_activity_top_up_infon"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Payments.RegisteraClient"
            android:label="@string/title_activity_registera_client"
            android:parentActivityName=".Payments.PaymentsMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.PaymentsMain" />
        </activity>
        <activity
            android:name=".Payments.FicaID"
            android:label="@string/title_activity_fica_id"
            android:parentActivityName=".Payments.PaymentsMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.PaymentsMain" />
        </activity>
        <activity
            android:name=".Payments.CashDeposit"
            android:label="@string/title_activity_cash_deposit"
            android:parentActivityName=".Payments.Cash"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.Cash" />
        </activity>
        <activity
            android:name=".General.Query"
            android:label="@string/title_activity_query"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Payments.FicaPOP"
            android:label="@string/title_activity_fica_pop"
            android:parentActivityName=".Payments.FicaID"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.FicaID" />
        </activity>
        <activity
            android:name=".Payments.FicaPerson"
            android:label="@string/title_activity_fica_person"
            android:parentActivityName=".Payments.FicaID"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.FicaID" />
        </activity>
        <activity
            android:name=".BillPayments.BillPaymentMain"
            android:label="@string/title_activity_bill_payment_main"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".BillPayments.PayDSTV"
            android:label="@string/title_activity_pay_dstv"
            android:parentActivityName=".BillPayments.BillPaymentMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.BillPayments.BillPaymentMain" />
        </activity>
        <activity
            android:name=".BillPayments.PayUtilities"
            android:label="@string/title_activity_pay_utilities"
            android:parentActivityName=".BillPayments.BillPaymentMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.BillPayments.BillPaymentMain" />
        </activity>
        <activity
            android:name=".Airtime.MainActivityPrint"
            android:label="@string/title_activity_main_print"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Client.MainMenuClient"
            android:label="Ezaga Main Menu"
            android:parentActivityName=".General.Login"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.Login" />
        </activity>
        <activity
            android:name=".Payments.Main3Activity"
            android:label="@string/title_activity_main3"
            android:parentActivityName=".Payments.PaymentsMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.PaymentsMain" />
        </activity>
        <activity
            android:name=".Payments.EzagaTransfer"
            android:label="@string/title_activity_ezaga_transfer"
            android:parentActivityName=".Payments.PaymentsMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.PaymentsMain" />
        </activity>
        <activity android:name=".Payments.PIN" />
        <activity
            android:name=".Payments.EzagaReceive"
            android:label="@string/title_activity_ezaga_receive"
            android:parentActivityName=".Payments.PaymentsMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.PaymentsMain" />
        </activity>
        <activity
            android:name=".Client.MainMenuClientPayments"
            android:label="@string/title_activity_main_menu_client_payments"
            android:parentActivityName=".Client.MainMenuClient"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Client.MainMenuClient" />
        </activity>
        <activity
            android:name=".Client.MainMenuStokvel"
            android:label="@string/title_activity_main_menu_stokvel"
            android:parentActivityName=".Client.MainMenuClient"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Client.MainMenuClient" />
        </activity>
        <activity
            android:name=".Airtime.SellAirtimev"
            android:label="@string/title_activity_sell_airtimev"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Airtime.SellAirtimeNew"
            android:label="@string/title_activity_sell_airtime_new"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Airtime.SellAirtimePrinted"
            android:label="@string/title_activity_sell_airtime_printed"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Airtime.SellBundlePrinted"
            android:label="@string/title_activity_sell_bundle_printed"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Airtime.SellElectricityPrinted"
            android:label="@string/title_activity_sell_electricity_printed"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>

        <activity
            android:name=".Airtime.Printer"
            android:label="@string/title_activity_printer"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Kits.ViewStatementDetails"
            android:label="@string/title_activity_view_statement_details"
            android:parentActivityName=".Airtime.AirtimeStatement"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Payments.SelectUpload"
            android:label="@string/title_activity_select_upload"
            android:parentActivityName=".Payments.RegisteraClient"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.RegisteraClient" />
        </activity>
        <activity
            android:name=".Payments.UploadFicaID"
            android:label="@string/title_activity_upload_fica_id"
            android:parentActivityName=".Payments.SelectUpload"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.SelectUpload" />
        </activity>
        <activity
            android:name=".Payments.UploadFicaPOP"
            android:label="@string/title_activity_upload_fica_pop"
            android:parentActivityName=".Payments.UploadFicaID"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.UploadFicaID" />
        </activity>
        <activity
            android:name=".Payments.UploadFicaPerson"
            android:label="@string/title_activity_upload_fica_person"
            android:parentActivityName=".Payments.UploadFicaPOP"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Payments.UploadFicaPOP" />
        </activity>
        <activity
            android:name=".Banking.BankingMain"
            android:label="@string/title_activity_banking_main"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity
            android:name=".Banking.AddCustomer"
            android:label="@string/title_activity_add_customer"
            android:parentActivityName=".Banking.BankingMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Banking.BankingMain" />
        </activity>
        <activity
            android:name=".Banking.BankingMyPendingCustomers"
            android:label="@string/title_activity_banking_my_pending_customers"
            android:parentActivityName=".Banking.BankingMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Banking.BankingMain" />
        </activity>
        <activity
            android:name=".Banking.ChooseAccount"
            android:label="@string/title_activity_choose_account"
            android:parentActivityName=".Banking.BankingMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Banking.BankingMain" />
        </activity>
        <activity
            android:name=".Banking.BankingEEziAddCustomer"
            android:label="@string/title_activity_banking_eezi_add_customer"
            android:parentActivityName=".Banking.ChooseAccount"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.Banking.ChooseAccount" />
        </activity>
        <activity
            android:name=".General.Register_Agent"
            android:label="@string/title_activity_register__agent"
            android:parentActivityName=".General.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubits.payflow.payflow_network.General.MainActivity" />
        </activity>
        <activity android:name=".Airtime.UserHistoryActivity" />
        <activity android:name=".Driver.Stock_allocate.Assign_agent"/>
        <activity android:name=".General.RicaAgentRegisterActivty" />
        <activity android:name=".General.Login"></activity>
        <activity android:name=".Driver.Stock_allocate.Stock_allocate"/>
        <activity android:name=".Driver.Driver_Dashboard.Driver_Dashboard"/>
        <activity android:name=".Driver.Stock_allocate.Tab_Stock_Activity"/>
        <activity android:name=".Driver.Stock_allocate.Pending_Box_List"/>
    </application>

</manifest>