<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tms.ontrack.mobile">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.perfmission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Web_Services.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ontracklogopurple"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ontracklogopurple"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".Driver.SignUpAgent.SignUpAgent"></activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Agent.NetworkError" />
        <activity android:name=".Agent.OfflineRica" />
        <activity android:name=".RicaTab" />
        <activity android:name=".AgentBatchesReceived.AgentNormalBatchesReceivedList" />
        <activity android:name=".AgentReceiveBatchesTab" />
        <activity android:name=".AgentBatchesGet.AgentNormalBatchesList" />
        <activity
            android:name=".AssignBatchTab"
            android:label="@string/title_activity_assign_batch_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Agent.ScanBatch" />
        <activity android:name=".OpenCloseBatches.CashHistory.CashUpStatement" />
        <activity android:name=".OpenBatchesResponse.OpenedBatchesActivity" />
        <activity android:name=".OpenCloseBatches.OpenCloseActivity" />
        <activity android:name=".FuelMaintenence.VehicleCharge" />
        <activity android:name=".Navigation_main.Contact_Ontrack" />
        <activity android:name=".Navigation_main.Address_Ontrack" />
        <activity android:name=".Navigation_main.Navigation_Main" />
        <activity android:name=".AgentBatchesReceived.AgentBatchesReceived" />
        <activity android:name=".AgentBatchesGet.AgentBatchesGet" />
        <activity android:name=".BatchesReceived.BatchesReceivedList" />
        <activity android:name=".AllocationGet.AllocationGet" />
        <activity android:name=".AgentsList.AgentsList" />
        <activity android:name=".AgentsGetResponse.AgentsGetList" />
        <activity android:name=".DriverBatchesGet.BatchesGetList" />
        <activity android:name=".DriverBatchesGet.NormalBatchesGetList" />
        <activity android:name=".AgentAssignBatchesTab" />
        <activity android:name=".ReceiveBatchesTab" />
        <activity android:name=".BatchesReceived.NormalBatchesReceivedList" />
        <activity android:name=".WifiBundle.WifiBundle" />
        <activity android:name=".AirtimeSales.AirtimeSalesActivity" />
        <activity android:name=".DataBundle.DataBundleActivity" />
        <activity android:name=".AirtimeSales.AirtimeRechargeActivity" />
        <activity android:name=".ElectricityBundle.ElectricityBundleActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_ley" />

        <activity
            android:name=".Agent.Agent_Mainactivity"
            android:label="@string/app_name" />
        <activity android:name=".Driver.Stock_allocate.Stock_allocate" />
        <activity android:name=".Driver.Driver_Dashboard.Stocks_dashboard" />
        <activity android:name=".Driver.Stock_allocate.Tab_Stock_Activity" />
        <activity android:name=".Driver.Stock_allocate.Pending_Box_List" />
        <activity android:name=".Driver.DriverAttendance.DriverAttendance" />
        <activity android:name=".Agent.Sim_allocation" />
    </application>

</manifest>